<div class="container">
  <h1>Chat App</h1> 

  <input type="text" id="chatBox">
  <div id="chat-box-container">
    <div id="messagesLogs"></div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/scripts.js"></script> 