* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {  
  height: 100vh;
  background: #343434;
  color: white;
  font-family: sans-serif;
  padding-top: 3rem;
}

.container {
  width: 80%;
  margin: auto;
}

input {
  display: block;
  margin: 0 auto .8rem;
  padding: .6rem;
  border: none;
  border-radius: 6px;
  min-width: 240px;
}

h1 {
  margin-bottom: 1.8rem;
  text-align: center;
}

.messages {
  margin-top: 1rem;
}

#chat-box-container {
  background: #cacaca;
  border-radius: 6px;
  min-height: 250px;
  width: 100%;
}

#messagesLogs {
  color: #333;
  width: 50%;
  margin: 1rem auto;
  padding: 1rem;
}